header {
  overflow: hidden;
}

.search-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: var(--nav-background-dark);
  color: white;
  height: 55px;
  min-width: 900px;
}

.search-nav ul {
  list-style: none;
  padding-inline-start: 0;
  text-align: left;
}

.main-logo-sprite {
  background: url(/assets/imgs/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png)
    no-repeat -10px -51px;
  min-width: 99px;
  height: 31px;
  flex-basis: auto;
}

.deliver-to {
  display: flex;
  gap: 3px;
}

.bold-li {
  font-weight: 1200;
  font-family: "amazon-bold";
  font-size: 12px;
}

.location-sprite {
  background: url(/assets/imgs/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png)
    no-repeat -71px -306px;
  width: 17px;
  height: 20px;
  align-self: flex-end;
}

.flag {
  background: url("/assets/imgs/sprites/flags.png") no-repeat -110px -218px;
  width: 31px;
  height: 20px;
}
.cart {
  display: flex;
  align-items: flex-end;
  font-family: "amazon-bold";
  font-size: 13px;
}
.cart-sprite {
  background: url(/assets/imgs/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png)
    no-repeat -10px -340px;
  width: 38px;
  height: 26px;
}

.mid-header {
  display: flex;
  justify-content: left;
  text-align: center;
  align-items: center;
  background-color: var(--nav-background-light);
  color: white;
  height: 35px;
  font-size: 12px;
  min-width: 900px;
}

.bottom-header {
  border-bottom: 1px solid lightgrey;
  background: var(--nav-bottom-ligth);
  display: flex;
  align-items: center;
  justify-content: left;
  color: black;
  height: 28px;
  font-size: 9px;
  min-width: 1500px;
}

.search-bar {
  width: 50%;
  height: 35px;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}
.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown select {
  height: 45px;
  width: auto;
  font-size: 12px;
  background-color: #dadada;
}

.search-space-text {
  flex-grow: 15;
}

.magnify-glass {
  flex-grow: 1;
  background: url("/assets/imgs/sprites/search.png") no-repeat -533px -167px;
  width: 26px;
  height: 45px;
  background-color: var(--search-orange);
  cursor: pointer;
}

.search-text {
  height: 100%;
  width: 100%;
  border: none;
}

.breadCrums {
  margin-top: 30px;
  padding-bottom: 20px;
  color: grey;
}

.threeMain {
  display: flex;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid lightgray;
}

.images {
  flex-grow: 1;
  background-color: transparent;
  min-width: 400px;
  position: relative;
  overflow: hidden;
}

.shopping_details_container {
  border: 1px #d5d9d9 solid;
  border-radius: 8px;
  padding: 1rem 1rem;
  min-width: 244px;
  margin-right: 1rem;
}
.thumb-2:hover {
  border: 1px solid var(--search-orange);
  box-shadow: 0 0 10px var(--search-orange);
}
.thumb-3:hover {
  border: 1px solid var(--search-orange);
  box-shadow: 0 0 10px var(--search-orange);
}
.thumb-1:hover {
  border: 1px solid var(--search-orange);
  box-shadow: 0 0 10px var(--search-orange);
}

.thumb-1 {
  position: absolute;
  top: 80px;
  left: 8px;
}
.large-1 {
  display: none;
  position: absolute;
  left: 20%;
  top: 20%;
}

.thumb-1:hover ~ .large-1 {
  display: block;
}
.thumb-2 {
  position: absolute;
  top: 30px;
  left: 8px;
}
.large-2 {
  display: none;
  position: absolute;
  left: 20%;
  top: 20%;
}

.thumb-2:hover ~ .large-2 {
  display: block;
}

.thumb-3 {
  position: absolute;
  top: 130px;
  left: 8px;
}
.large-3 {
  display: none;
  position: absolute;
  left: 20%;
  top: 10%;
}

.thumb-3:hover ~ .large-3 {
  display: block;
}

.item_description_container {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  min-width: 244px;
  max-width: 400px;
  margin-right: 30px;
}

.item_description_container h1 {
  font-family: "amazon";
  font-weight: 500;
  font-size: 1.4rem;
}

.stars-ratings-review {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
  padding-bottom: 5px;
}

.stars-ratings-review p {
  font-size: 12px;
  color: var(--card-text-blue);
  padding: 0 5px;
  display: inline-block;
}

.stars-stars {
  background: url("/assets/imgs/sprites/aui-mini-sprite-2015-02.png") no-repeat -16px
    0;
  width: 80px;
  height: 15px;
  display: inline-block;
}

.price {
  font-size: 12px;
  line-height: 20px;
  color: #565959;
  border-bottom: 1px solid lightgray;
  padding: 5px 0;
}

.red-price {
  font-size: 15px;
  line-height: 24px;
  color: #b12704;
}

.style-body {
  font-size: 12px;
  line-height: 20px;
  padding: 5px 0;
  border-bottom: 1px solid lightgray;
}

.bold-table-data {
  font-weight: 700;
}
.features h4 {
  font-size: 14px;
  padding: 10px 0;
}
.features ul {
  padding-inline-start: 1rem;
  font-size: 12px;
  line-height: 17px;
}

.in-stock {
  font-size: 16px;
  color: var(--inStock-green);
  padding-top: 1rem;
}

.location-flex {
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
}
.deliver-location {
  background: url("/assets/imgs/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
    no-repeat -71px -306px;
  width: 17px;
  height: 20px;
  color: black;
  margin-right: 0.5rem;
}

.qty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 20px;
  background-color: #e3e6e6;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px #dadada;
  box-shadow: 2px 2px 4px lightgray;
  cursor: pointer;
}

.qty select {
  font-size: 10px;
}

.click-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background-color: blanchedalmond;
  border-radius: 15px;
  font-size: 12px;
  margin-top: 0.5rem;
  cursor: pointer;
}

.add_to_cart {
  background-color: #ffd51a;
}
.add_to_cart:hover {
  background-color: var(--add-yellow);
}
.buy_now {
  background-color: #ff981d;
}
.buy_now:hover {
  background-color: var(--buy-orange);
}

.secure-sprite {
  background: url("/assets/imgs/sprites/secured-ssl._CB485936932_.png")
    no-repeat 0 0;
  width: 16px;
  height: 21px;
  margin-right: 0.5rem;
}

.sale-tbody {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 15px;
  border-bottom: 1px solid lightgray;
}

.amazon-table-data {
  color: #565959;
}
.returns {
  margin-bottom: 0.5rem;
  font-size: 14px;
}

.add-list {
  justify-content: flex-start;
  width: 100%;
  background-color: #ebedf0;
  border: grey 1px solid;
  border-radius: 2px;
}

.main-footer-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-title-title {
  font-size: 16px;
  line-height: 32px;
  color: #cc6600;
  font-weight: 700;
}
.page-placement {
  font-size: 12px;
}
.sponsored {
  font-size: 10px;
  color: grey;
}
