* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --nav-background-dark: #131921;
  --nav-background-light: #232f3e;
  --nav-bottom-ligth: #fafafa;
  --search-orange: #f2a847;
  --add-yellow: #f7ca00;
  --buy-orange: #fa8800;
  --font-orange: #cc6600;
  --card-text-blue: #007185;
  --inStock-green: #007600;
}

@font-face {
  font-family: "amazon";
  src: url(/assets/fonts/amazon-ember-cufonfonts/Amazon\ Ember.ttf);
}

@font-face {
  font-family: "amazon-bold";
  src: url(/assets/fonts/amazon-ember-cufonfonts/Amazon\ Ember\ Bold.ttf);
}

body {
  font-family: "amazon";
  font-size: 62.5%;
  font-weight: 500;
  letter-spacing: 1px;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td {
  display: table-cell;
  vertical-align: inherit;
}

.tbody {
  display: table-row-group;
  vertical-align: middle;
}

.header-links {
  border: transparent solid 1px;
  margin: 1px 2px 1px 1px;
  padding: 5px 8px;
}

.header-links:hover {
  border: white solid 1px;
  border-radius: 2px;
}

.bottom-head-links {
  margin: 0 10px;
  font-size: 10px;
  padding: 7px;
  border-bottom: transparent 2px solid;
  cursor: pointer;
}

.bottom-head-links:hover {
  color: var(--font-orange);
  border-bottom: var(--font-orange) 2px solid;
}

main {
  max-width: 1400px;
  margin: 0 auto;
}

.blue-link {
  font-size: 14px;
  color: var(--card-text-blue);
  cursor: pointer;
}

.blue-link:hover {
  text-decoration: underline;
  color: var(--font-orange);
}
